name: Build plugin

on:
    push:
        # Sequence of patterns matched against refs/tags
        tags:
            - "*" # Push events to matching any tag format, i.e. 1.0, 20.15.10
    workflow_dispatch: # Allows manual triggering from Actions tab

env:
    PLUGIN_NAME: link-favicon

permissions:
    contents: write

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            -   uses: actions/checkout@v4
            -   name: Use Node.js
                uses: actions/setup-node@v4
                with:
                    node-version: "20.x"
            -   name: Build
                id: build
                run: |
                    sudo apt install jq wget python3 --yes
                    wget https://www.iana.org/assignments/uri-schemes/uri-schemes-1.csv
                    cat uri-schemes-1.csv | python3 -c 'import csv, json, sys; print(json.dumps([dict(r) for r in csv.DictReader(sys.stdin)]))' > test.json
                    jq 'map(.schema = .["URI Scheme"])' test.json  > schemas.json
                    npm install
                    npm run build
                    mkdir ${{ env.PLUGIN_NAME }}
                    cp main.js manifest.json styles.css ${{ env.PLUGIN_NAME }}
                    zip -r ${{ env.PLUGIN_NAME }}.zip ${{ env.PLUGIN_NAME }}
                    ls
                    echo "tag_name=$(git tag --sort version:refname | tail -n 1)" >> $GITHUB_OUTPUT
            -   name: Create Release and Upload Assets
                uses: softprops/action-gh-release@v2
                with:
                    files: |
                        ./${{ env.PLUGIN_NAME }}.zip
                        ./main.js
                        ./manifest.json
                        ./styles.css
                    draft: false
                    prerelease: false
                env:
                    GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
